In [23]:
import pandas as pd

file_path = "/Users/andreeabodea/ANDREEA/MT/Code/PrivFill/data/BBC.csv"
df = pd.read_csv(file_path)
print(df.head(10))

                                                text          label
0  Ray DVD beats box office takings Oscar-nominat...  entertainment
1  Brazil plays down Varig rescue The Brazilian g...       business
2  Campbell rescues Arsenal Sol Campbell proved t...          sport
3  'Blog' picked as word of the year The term "bl...           tech
4  Virgin Blue shares plummet 20% Shares in Austr...       business
5  UKIP MEP attacked German 'empire' A UK Indepen...       politics
6  Criminal probe on Citigroup deals Traders at U...       business
7  O'Driscoll saves Irish blushes Two moments of ...          sport
8  EA to take on film and TV giants Video game gi...           tech
9  Early Elvis recordings go on sale Some of Elvi...  entertainment

In [24]:
df = df.drop_duplicates(subset='text')
df['message_length'] = df['text'].apply(len)
df = df.sort_values(by='message_length', ascending=False)
df_2 = df[df['message_length'] < 5000]
print(df_2.head(10))

                                                   text     label  \
1822  Gardener battles to narrow win Jason Gardener ...     sport
2024  Peer-to-peer nets 'here to stay' Peer-to-peer ...      tech
51    Peer-to-peer nets 'here to stay' Peer-to-peer ...      tech
310   The 'ticking budget' facing the US The budget ...  business
112   Cebit fever takes over Hanover Thousands of pr...      tech
335   Technology gets the creative bug The hi-tech a...      tech
69    Technology gets the creative bug The hi-tech a...      tech
1084  Howard's unfinished business "He's not finishe...  politics
990   TV's future down the phone line Internet TV ha...      tech
166   UKIP's secret weapon? By any measure, New York...  politics

      message_length
1822            4963
2024            4946
51              4945
310             4936
112             4904
335             4894
69              4893
1084            4891
990             4887
166             4873

In [25]:
import json
from presidio_analyzer import AnalyzerEngine

analyzer = AnalyzerEngine()
def count_entities(text):
    st_analyze_results = analyzer.analyze(
        text=text,
        language="en",
        score_threshold=0.5,
        allow_list=[],
    )
    # results_as_dicts = [result.to_dict() for result in st_analyze_results]
    # results_json = json.dumps(results_as_dicts, indent=2)
    # print(results_json)
    return len(st_analyze_results)

df_2['pii_nr'] = df_2['text'].apply(count_entities)
df_2 = df_2.sort_values(by='pii_nr', ascending=False)
print(df_2.head(20))

                                                   text          label  \
1815  Dawson wins England squad recall Wasps scrum-h...          sport
1453  O'Driscoll/Gregan lead Aid stars Ireland's Bri...          sport
3114  Italy 8-38 Wales Wales secured their first awa...          sport
1679  Wales win in Rome Wales secured their first aw...          sport
1100  Ireland call up uncapped Campbell Ulster scrum...          sport
537   Ireland 19-13 England Ireland consigned Englan...          sport
1725  Ireland surge past Scots Ireland maintained th...          sport
94    Chelsea clinch cup in extra-time (after extra-...          sport
2951  Britain boosted by Holmes double Athletics fan...          sport
416   England 17-18 France England suffered an eight...          sport
152   Ireland 17-12 South Africa Ronan O'Gara scored...          sport
2     Campbell rescues Arsenal Sol Campbell proved t...          sport
2457  Taylor poised for Scotland return Simon Taylor...          sport
1848  Reds sink 10-man Magpies Titus Bramble's own g...          sport
721   Holmes back on form in Birmingham Double Olymp...          sport
1329  Captains lining up for Aid match Ireland's Bri...          sport
1934  The Producers scoops stage awards The Producer...  entertainment
7     O'Driscoll saves Irish blushes Two moments of ...          sport
1661  Federer joins all-time greats The last year ha...          sport
847   GB select Holmes for double bid Kelly Holmes h...          sport

      message_length  pii_nr
1815            3406     121
1453            3025     105
3114            4210     101
1679            4211     100
1100            2424      99
537             4247      97
1725            3540      92
94              3673      92
2951            4787      92
416             3954      90
152             3749      89
2               3445      87
2457            1931      83
1848            2621      83
721             4700      83
1329            1822      83
1934            3878      82
7               2869      82
1661            3998      82
847             3997      81

/var/folders/mv/q7zzt95s3bjbxyj60fgc67lh0000gn/T/ipykernel_81465/3313464642.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['pii_nr'] = df_2['text'].apply(count_entities)

In [49]:
df_3 = df_2[df_2['pii_nr'] < 100]
df_3 = df_3[df_3['pii_nr'] > 25]
df_3 = df_3[df_3['message_length'] > 3000]
print(len(df_3))

241

In [50]:
print(df_3.head(50))

                                                   text          label  \
537   Ireland 19-13 England Ireland consigned Englan...          sport
1725  Ireland surge past Scots Ireland maintained th...          sport
94    Chelsea clinch cup in extra-time (after extra-...          sport
2951  Britain boosted by Holmes double Athletics fan...          sport
416   England 17-18 France England suffered an eight...          sport
152   Ireland 17-12 South Africa Ronan O'Gara scored...          sport
2     Campbell rescues Arsenal Sol Campbell proved t...          sport
721   Holmes back on form in Birmingham Double Olymp...          sport
1934  The Producers scoops stage awards The Producer...  entertainment
1661  Federer joins all-time greats The last year ha...          sport
847   GB select Holmes for double bid Kelly Holmes h...          sport
913   Chelsea denied by James heroics A brave defens...          sport
2606  Man City 0-2 Man Utd Manchester United reduced...          sport
2223  Arsenal through on penalties Arsenal win 4-2 o...          sport
1168  A year to remember for Irish There used to be ...          sport
1392  Celts savour Grand Slam prospect The Six Natio...          sport
462   Chelsea hold Arsenal A gripping game between A...          sport
856   Middlesbrough 2-2 Charlton A late header by te...          sport
2625  Man Utd stroll to Cup win Wayne Rooney made a ...          sport
172   Reaction from Spanish press England's 1-0 defe...          sport
362   Johnson edges out rival Sotherton Jade Johnson...          sport
1822  Gardener battles to narrow win Jason Gardener ...          sport
1130  World leaders gather to face uncertainty More ...       business
2898  2004: An Irish Athletics Year 2004 won't be re...          sport
144   Ex-PM Lord Callaghan dies aged 92 Former Labou...       politics
2736  Newcastle 2-1 Bolton Kieron Dyer smashed home ...          sport
1053  A November to remember Last Saturday, one news...          sport
2004  Arthur Hailey: King of the bestsellers Novelis...  entertainment
390   Dallaglio his own man to the end Controversy a...          sport
2171  Guantanamo man 'suing government' A British te...       politics
1843  Johnny Depp: The acting outlaw Johnny Depp, wh...  entertainment
2506  Business fears over sluggish EU economy As Eur...       business
1129  Indian oil firm eyes Yukos assets India's bigg...       business
1746  Paris promise raises Welsh hopes Has there bee...          sport
1802  Ten-year tragedy of missing Manic Richey Edwar...  entertainment
1597  Guantanamo four free in weeks All four Britons...       politics
1781  'My memories of Marley...' To mark the 60th an...  entertainment
2697  Brentford v Southampton Griffin Park Tuesday, ...          sport
1034  Henson stakes early Lions claim The Six Nation...          sport
2477  G7 backs Africa debt relief plan G7 finance mi...       business
1083  Giggs handed Wales leading role Ryan Giggs wil...          sport
2351  Blair says UK tsunami aid to soar Tony Blair h...       politics
427   Blair says UK tsunami aid to soar Tony Blair h...       politics
377   Ireland win eclipses refereeing 'errors' The I...          sport
689   Grammys honour soul star Charles The memory of...  entertainment
1775  Muslims discuss election concerns Issues that ...       politics
1535  UK rebate 'unjustified' - Chirac French presid...       politics
1548  UK rebate 'unjustified' - Chirac French presid...       politics
175   Blackburn v Burnley Ewood Park Tuesday, 1 Marc...          sport
578   White prepared for battle Tough-scrummaging pr...          sport

      message_length  pii_nr
537             4247      97
1725            3540      92
94              3673      92
2951            4787      92
416             3954      90
152             3749      89
2               3445      87
721             4700      83
1934            3878      82
1661            3998      82
847             3997      81
913             3110      81
2606            3632      80
2223            3126      79
1168            4513      79
1392            3423      78
462             3330      77
856             3397      77
2625            3222      76
172             3620      72
362             3869      72
1822            4963      71
1130            4382      70
2898            4250      69
144             3878      68
2736            3675      68
1053            4319      66
2004            3777      64
390             4409      63
2171            3526      62
1843            3086      62
2506            4595      61
1129            3345      61
1746            3840      61
1802            3953      60
1597            3508      59
1781            3298      58
2697            3757      58
1034            3361      58
2477            4467      57
1083            3561      57
2351            3501      56
427             3504      56
377             3701      56
689             3287      55
1775            3449      55
1535            4038      55
1548            4037      55
175             3603      54
578             3323      54

In [52]:
def first_four_words(text):
    return ' '.join(text.split()[:4])
df_4 = df_3
df_4['first_four_words'] = df_4['text'].apply(first_four_words)
df_4 = df_4.drop_duplicates(subset='first_four_words')
len(df_4)

211

In [53]:
df_4['text'].to_csv("/Users/andreeabodea/ANDREEA/MT/Data/BBC_preprocessed.csv", index=False)